.header {
    padding-top: 36px;
    padding-bottom: 36px;

    border: 0.1px solid #000;
    background: linear-gradient(180deg, #F4F4F4 0%, #E9E9E9 100%);

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__logo {
        padding: 5px 5px;
        font-size: 26px;
        border: 3.1px solid #000;
    }

    &__nav {
        display: flex;
        gap: 26px;
        // border: 1px solid #000;

        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }

    &__nav-span {
        font-weight: 350;
        font-size: 12px;
        line-height: 16px;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__top-text {
        margin-top: 110px;

        width: 598px;
        font-weight: 700;
        font-size: 58px;
        line-height: 56px;
    }

    &__text {
        margin-top: 18px;
        padding-bottom: 50px;

        width: 514px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #5C5C5C;
    }

    &__btn {
        padding: 15px 40px;
        margin-top: 24px;
        width: 197px;
        height: 51px;
        box-sizing: border-box;

        background: linear-gradient(90.11deg, #FB4747 0.52%, #CC3333 98.44%);
        box-shadow: 0px 8px 30px -5px rgba(124, 23, 23, 0.2);
        border-radius: 10px;

        font-weight: 700;
        font-size: 16px;
        line-height: 21px;

        color: #FFFFFF;
    }

    // &__img {
    //     // width: 600px;
    //     // height: 600px;
    // }

}

.description {
    padding-top: 52px;
    padding-bottom: 52px;

    border: 1px solid #000;

    &__top {
        text-align: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }

    &__top-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #5C5C5C;
    }

    // &__box {
    //     border: 1px solid #000;
    // }

    &__footer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
        gap: 10px 15px;
        justify-content: center;
    }

    &__box {
        box-sizing: border-box;

        // width: 370px;
        height: 175px;
        background-image: url(../img/description/camera.svg);
        background-repeat: no-repeat;

        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
    }

    &__box-toptext {
        padding-left: 100px;
        margin-top: 8px;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        color: #000000;
    }

    &__box-text {
        padding-left: 100px;

        font-weight: 400;
        font-size: 14px;
        line-height: 151.01%;
        /* or 21px */


        color: #5C5C5C;
    }
}

.warranty {
    padding-top: 70px;
    padding-bottom: 50px;

    background: #333333;
    border: 1px solid #000;
    height: 100px;

    &__top-text {
        text-align: center;
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height */


        color: #FFFFFF;
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 151.01%;
        color: #FFFFFF;
    }
}

@import 'vars';
@import 'base';
@import 'mobile';